<div class="col-sm-8 side-right">
    <div class="pen-title">
        <h1 class="title">Bem-Vindo!</h1>
    </div>
    <!-- Form Module-->
    <div class="module form-module">
        <div class="toggle">
            <i class="fa fa-times fa-pencil"></i>
            <div class="tooltip">Click Me</div>
        </div>
        <div class="form">
            <h2 class="title">Acesse sua conta</h2>
            <form>
                <input type="text" placeholder="Usuario" />
                <input type="password" placeholder="Senha" />
                <button>Login</button>
            </form>


        </div>
    </div>