<div class="titulo">
        <h1>cadastra-se na
            <strong>noTrouble</strong>
            </br>&nbspe aumente suas vendas</h1>
        <center>
            <button type="button" class="btn-lg btn-primary btn-simbora" ui-sref="main.cadastrar">simbora?</button>
        </center>
</div>
    <div class="col-sm-8 side-right">
        <div class="titulo-reponsive">
            <h1>cadastra-se na
                <strong>noTrouble</strong>
                </br>&nbspe aumente suas vendas</h1>
          <div>
            <center>
                <button type="submit" class="btn-lg btn-primary btn-simbora-responsive" ui-sref="main.cadastrar">simbora?</button>
            </center>
        </div>
    </div>
