<div class="container-fluid">
    <div class="row">


    <div class="col-sm-4 side-left">
        <div id="logo">
            <img ui-sref="main.notrouble" src="../../../assets/images/logo.png" alt="noTrouble Logo" width="180px">
        </div>
        <ul class="nav nav-pills nav-stacked menu">
            <li ui-sref="main.about">
                <a href="">• Quem Somos</a>
            </li>
            <li ui-sref="main.toyou">
                <a href="">• Pra Você</a>
            </li>
            <li ui-sref="main.app">
                <a href="">• App</a>
            </li>
            <li ui-sref="main.faq">
                <a href="">• Duvidas</a>
            </li>
            <li ui-sref="main.login">
                    <a href="">• Login</a>
            </li>
        </ul>
    </div>


<!-- Container App Router -->
<div class="" ui-view></div>